# 3.1 자료구조와 순차 자료형

In [1]:
#3.1.1 튜플 : 1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형

tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [4]:
nested_tup = (4,5,6) , (7,8)

In [5]:
nested_tup

((4, 5, 6), (7, 8))

In [7]:
tup = tuple('string')

In [8]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
tup[0] #index는 0부터

's'

In [10]:
tup = tuple(['foo', [1,2], True]) #저장된 객체 변경은 가능하지만, 각 슬롯에 저장된 객체 변경은 불가능!

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

 + 이용시 튜플을 이어붙일수 있고, * 이용하면 튜플 복사본 반복

In [14]:
#튜플 값 분리 : 변수 이름 바꾸거나 튜플 또는 리스트를 순회할 때도 활용가능
tup = (4,5,6)

In [15]:
a, b, c = tup

In [16]:
b

5

In [19]:
#길이를 알수 없는 값 분리하기 위해서 특수문법인 *rest(or *_) 사용

values = 1,2,3,4,5

In [20]:
a,b,*rest = values

In [21]:
a,b

(1, 2)

In [22]:
rest

[3, 4, 5]

In [23]:
#튜플 메서드

a = (1,2,2,2,3,4,2)

In [24]:
a.count(2) #튜플 a에서 2의 개수

4

In [25]:
#3.1.2 리스트 : 1차원 순차 자료형.튜플과는 대조적으로 크기나 내용 변경이 가능. []나 list함수 사용하여 생성

a_list = [1,2,7,None]

In [26]:
tup = ('foo', 'bar', 'baz')

In [27]:
b_list = list(tup)

In [28]:
b_list

['foo', 'bar', 'baz']

In [29]:
b_list[1] = 'peekaboo'

In [30]:
b_list

['foo', 'peekaboo', 'baz']

In [31]:
#list함수는 iterator나 generator표현에서 실제 값을 담기 위한 용도로도 사용

gen = range(10)
gen

range(0, 10)

In [32]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#append 메서드 : 리스트 끝에 새로운 값 추가

b_list.append('dwarf')

In [34]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [35]:
#insert 메서드 : 리스트의 특정 위치에 값 추가

b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [36]:
#poo 메서드 : 특정 위치 값 반환하고 리스트에서 삭제

b_list.pop(2)

'peekaboo'

In [37]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [38]:
#remove 메서드 : 원소 삭제. 중복된 값이 있을 경우는 앞의 값부터

b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [39]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [40]:
#in 예약어 : 리스트에 어떤 값이 있는지 검사

'dwarf' in b_list

True

In [41]:
#not 예약서 : in과 반대

'dwarf' not in b_list

False

In [44]:
# +연산자 또는 extend메서드로 리스트 합치기 또는 여러 값 추가(extend쓰는게 +보다 속도 빠름)

x = [4, None, 'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [45]:
#sort 함수 : 리스트 정렬

a = [7,2,1,5,6,3]

In [46]:
a.sort()

In [47]:
a

[1, 2, 3, 5, 6, 7]

In [48]:
# sort에서 정렬기준 세울 수 있음. 복사본은 생성 안함(sorted 함수는 복사본 생성)

b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key = len)

In [49]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [50]:
# bisect 모듈 : 이진 탐색과 정렬된 리스트에 값을 추가. 
# bisect.bisect : 값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치 반환
# bisect.insort : 실제로 정렬된 상태를 유지한 채 값을 추가

import bisect

c = [1,2,2,2,3,4,7]

bisect.bisect(c,2)

4

In [51]:
bisect.bisect(c,5)

6

In [52]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [53]:
#슬라이싱[start:stop] 이용하여 원하는 크기만큼 잘라내거나 다른 순차 자료형 대입도 가능. -로 index 설정가능

seq = [4,5,6,3,2,0,3,7]

In [54]:
seq[1:5] #start는 포함되지만 stop은 포함안됨! start나 stop 생략가능. 이때는 맨 처음이나 맨 마지막값이 자동으로

[5, 6, 3, 2]

In [55]:
# ::이용하여 간격 설정. 간격값으로 -1쓰면 역순반환

seq[::2]

[4, 6, 2, 3]

In [56]:
#3.1.3 내장 순차 자료형 함수

# enumerate : 순차 자료형에 현재 아이템의 색인을 함께 처리하고자 할 때 사용

some_list = ['foo', 'bar', 'baz']

In [57]:
mapping = {} #{} :dict

In [58]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [59]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [60]:
#sorted : 정렬된 새로운 순차 자료형을 반환 + reversed는 역순으로 

sorted([7,4,2,4,9,1,3])

[1, 2, 3, 4, 4, 7, 9]

In [63]:
#zip : 여러개의 리스트나 튜플 또는 다른 순차 자료형을 짝지어서 튜플의 리스트 생성

seq1 = ['foo', 'bar', 'baz']
seq2 = [1,2,3]

zipped = zip(seq1, seq2)

list(zipped)

[('foo', 1), ('bar', 2), ('baz', 3)]

In [64]:
#3.1.4 사전(dict) : 가장 중요! 해시맵 또는 연관 배열이라고 알려져있음. 
#유연한 크기를 가지는 키-값 쌍으로 구성됨.{}이용.키는 값이 바뀌지 않는 객체만 가능

empty_dict = {}

In [65]:
d1 = {'a' : 'some value', 'b' : [1,2,3,4]}

In [66]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [67]:
#dict에 값 추가
d1[7] = 'an integer'

In [68]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [69]:
#del 예약어나 pop메서드로 사전 값 삭제 가능

del d1[7]
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [71]:
ret = d1.pop('a')

In [72]:
ret

'some value'

In [73]:
d1

{'b': [1, 2, 3, 4]}

In [74]:
#keys와 values메서드는 각각 키와 값이 담긴 이터레이터 반환

list(d1.keys())

['b']

In [76]:
list(d1.values())

[[1, 2, 3, 4]]

In [77]:
#update메서드로 다른 dict과 결합 가능. 이미 존재하는 key에 대해서는 이전 값 대체됨

d1.update({'b':'foo', 'c':12})

d1

{'b': 'foo', 'c': 12}

In [ ]:
#기본값

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
    
#or

value = some_dict.get(key, default_value)

In [78]:
#3.1.5집합 : 유일한 원소만 담는 정렬되지 않은 자료형. 키만 있는 사전같은 형태. set함수나 {}로 생성. 원소 변경 불가능

set([2,2,3,3,1,4,5])

{1, 2, 3, 4, 5}

In [79]:
{2,2,3,4,5,1,5}

{1, 2, 3, 4, 5}

In [80]:
#두 개의 집합에 대한 합집합, 교집합 등과 같은 산술 집합 연산 제공됨

a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [81]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
a.intersection(b)

{3, 4, 5}

In [83]:
#3.1.6 리스트, 집합, 사전 표기법 : 원래의 자료형으로 새로운 자료형 만들기

#리스트 표기법 : [expr for val in collection if condition]
#집합 및 사전 표기법도 위와 유사

strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [84]:
{val : index for index, val in enumerate(strings)}

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

# 3.2 함수

In [85]:
# def예약어로 정의 후 return예약어를 통해 값 반환

def my_function(x,y,z=1.5):#x,y는 일반인자 / z는 키워드 인자로서 기본값 또는 부수적인 인자. 키워드 인자는 항상 일반인자 다음에!!
    if z > 1 :
        return z * (x+y)
    else:
        return z/(x+y)

In [86]:
my_function(5,6)

16.5

In [87]:
my_function(7,8,2)

30

In [ ]:
#3.2.1 네임스페이스, 스코프, 지역함수

def func():
    a = []
    for i in range(5):
        a.append(i)
        
        
#or

a = []

def func():
    for i in range(5):
        a.append(i)

In [89]:
#3.2.2 여러 값 반환하기

def f():
    a = 5
    b = 6
    c = 7
    return a,b,c #튜플 형태로 반환. 사전 형태로도 가능

a,b,c = f()

In [90]:
a

5

In [ ]:
#3.2.4 익명 함수(람다 함수) : 값을 반환하는 단순한 한 문장으로 이루어진 함수

def short_function(x):
    return x *2

#or

equiv_anon = lambda x : x*2

In [91]:
#3.2.6 제너레이터 : 순회가능한 객체를 생성. 함수에서 return대신 yield예약어 사용

def squares(n=10):
    print("Generating squares from 1 to {0}".format(n**2))
    for i in range(1, n+1):
        yield i ** 2

In [94]:
gen = squares() #호출만하면 코드 실행 안됨 아래처럼 값 요청해야됨
gen

In [95]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [96]:
#제너레이터 표현식

gen = (x ** 2 for x in range(100))
gen

#  3.3 파일운영과 체제

In [ ]:
# open('path')로 경로 넘겨줌. 끝났을 때는 close() 써서 닫아줘야됨
# 파일 읽을 때 read, seek, tell메서드 자주 사용